html{
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2{
    color: #4A90E2;
}

p:nth-of-type(2){
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 1rem 0;
    font-size: 1.5rem;
    line-height: 1.5;
}

abbr{
    font-family: monospace;
    font-size: .85rem;
}

p:nth-last-child(2){
    width: 80%;
}

blockquote{
    color: #666666;
    font-family: serif;
    font-size: 1.2rem;
    font-style: italic;
}

table{
    width: 33.3%;
    border-collapse: collapse;
    margin-top: 2rem; 
}

caption{
    padding: 1rem;
    font-weight: bold;
    text-align: left;
}

td, th {
    border: 1px solid #ddd;
    padding: 0.5rem;
}

thead{
    background-color: #3c89ba;
    color: #fff;
}

tbody th{
    background-color: #fffbcf;
}

tbody td:nth-last-child(1), td:nth-last-child(2){
    font-size: 1.3rem;
    text-align: center;
}

tbody tr > td:first-of-type {
    border: 1px solid rgba(180, 180, 180, .3);
    border-radius: 4px;
    padding: .25rem;
    background-color: #eee;
}

tbody > tr:nth-child(6) > td:nth-child(2),
tbody > tr:nth-child(10) > td:nth-child(1),
tbody > tr:nth-child(12) > td:nth-child(1),
tbody > tr:nth-child(18) > td:nth-child(1),
tbody > tr:nth-child(19) > td:nth-child(1){
    border-color: rgba(255, 0, 0, 0.15);
    background-color: rgba(255, 0, 0, 0.3);
}



