*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

a{
    color: orange;
    text-decoration: none;
}

a:hover{
    color: darkorange;
    text-decoration: none;
}

p {
    margin: 10px 0;
    line-height: 1.5;
}

/*** cabezera ***/
header{
    display: flex;
    justify-content: space-between;
    background: black;
    color: white;
    padding: 1% 5%;
}

.button_menu {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 28px;
    cursor: pointer;
    display: block;
}

button.close {
    right: 5%;
    top: 1%;
    position: absolute;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 50px;
    cursor: pointer;
    width: 25.16px;
    height: 37px;
}

.modal {
    display: none;
    z-index: 3;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
}

ul {
    text-align: center;
    align-self: center;
    list-style-type: none;
}

li {
    padding: 2% 0;
    font-size: 3rem;
}

li a{
    color: white;
}

li a:hover, li a:active{
    color: #dadada;
}

/*** contenido ***/
main {
    width: 90%;
    margin: auto;
    padding: 2% 0;
}

.container{
    width: 70%;
    margin: 0 auto;
}

/*** inicio ***/
a.cta {
    display: flex;
    justify-content: center;
    padding: 2%;
    background: black;
    color: white;
    margin-top: 5%;
}

a.cta:hover {
    display: flex;
    justify-content: center;
    padding: 2%;
    background: orange;
    color: black;
    margin-top: 5%;
}

main h2{
    margin-bottom: 20px;
}

/*** Catalogo ***/
section {
    display: flex;
    align-items: center;
    padding: 2% 0;
}

section img{
    object-fit: cover;
}

.aventura {
    padding: 2% 5% 2% 2%;
    display: flex;
    flex-direction: column;
    min-height: 180px;
    justify-content: flex-end;
}

.aventura p{
    font-size: 0.8rem;
    text-align: justify;
}

button[type="button"] {
    border: 1px solid black;
    background: black;
    color: white;
    padding: 2%;
    align-self: flex-end;
    width: 40%;
    margin-top: 2%;
    cursor: pointer;
    text-transform: uppercase;
}

button:hover[type="button"] {
    border: 1px solid orange;
    background: orange;
    color: black;
    padding: 2%;
    align-self: flex-end;
    width: 40%;
    margin-top: 2%;
    cursor: pointer;
    text-transform: uppercase;
}


/*** Contacto ***/
form{
    padding: 5% 0;
}

input, textarea{
    width: 100%;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: lighter;
    color: rgba(0,0,0,0.1);
    padding: 1% 0;
}

input::placeholder, textarea::placeholder{
    padding: 0 2%;
}

input[type="checkbox"]{
    width: auto;
    margin-right: 10px;
}

input[type="submit"] {
    border: none;
    background: black;
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-top: 25px;
    cursor: pointer;
}

input:hover[type="submit"] {
    border: none;
    background: orange;
    color: black;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-top: 25px;
    cursor: pointer;
}

@media (max-width: 680px){
    .container {
        flex-wrap: wrap;
        width: 100%;
    } 
    section {
         flex-wrap: wrap;
         flex-direction: column;
         text-align: center;
         justify-content: center;
         padding: 5% 0;
     }
     button[type="button"] {
        align-self: center;
        width: 100%;
    }   
    button:hover[type="button"] {
        align-self: center;
        width: 100%;
    }
}

